<div class="confirm_publish">

	<div class="confirm_publish-overview">
		<div class="resource_info">

			<% @fields.each do |k, v| %>
				<div class="value<%= ' has-error' if v[:error] %>">
					<label><%= v[:label] %></label>
					<p><%= v[:value] %></p>
				</div>
			<% end %>
		</div>

		<dl>
			<% @help_texts.each do |k, v| %>
				<dt><%= v[:title] %></dt>
				<dd><%= v[:description] %></dd>
			<% end %>
		</dl>
	</div>

	<%= form_tag helpers.publish_admin_page_path(@page), {method: :post, class: 'alchemy-dialog-buttons'} do %>
		<button type="button" onclick="window.Alchemy.closeCurrentDialog()" class="cancel secondary"><%= Alchemy.t(:cancel).capitalize %></button>
		<%= button_tag Alchemy.t(:publish).capitalize, class: 'confirm', disabled: fields_error? %>
	<% end %>
</div>
